{% extends "base.html" %}

{% block head %}{% end %}

{% block content %}
  <form action="/auth/register" method="post" class="registeration-form">
    <label for="email">Email:</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Email address" required/>
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required/>
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required/>
    {% module xsrf_form_html() %}
    <input type="submit" class="pull-right" name="rsubmit" value="Create account" />
  </form>
{% end %}

{% block footer %}{% end %}

{% block bottom %}{% end %}